.env
.DS_Store
.idea/
.vscode/

# Go                                                                                         
server 

# Node.js                                                    
test-agent/node_modules/   